[Unit]
Description=Run VFF QoS tc GC periodically

[Timer]
OnCalendar={{ qos_gc_timer_calendar }}
RandomizedDelaySec={{ qos_gc_timer_randomized_delay_sec }}
Persistent={{ qos_gc_timer_persistent | ternary('true','false') }}
AccuracySec={{ qos_gc_timer_accuracy_sec }}
Unit=qos-gc.service

[Install]
WantedBy=timers.target
